.container {
  position: relative;
  width: 100%;

  input {
    font-family: var(--text);
    font-weight: 500;
    font-size: 16px;
    height: 38px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    width: 100%;
    background-color: var(--background-color);
    color: var(--input-text-color);
    outline: none;
  }

  input:focus {
    border: 1px solid var(--border-color);
    box-shadow: 1px 1px 5px var(--border-color);
  }
}

.icon {
  font-size: 22px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--icon-color);
}
