@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title: "Kanit", sans-serif;
  --text: "Inter", sans-serif;

  --purple: #6c63ff;
  --purple-dark: #534cc2;
  --black: #252525;
  --white: #f7f7f7;
  --danger: #e50000;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;

  &.light {
    --background-color: #f7f7f7;
    --text-color: #252525;
    --border-color: #6c63ff;
    --icon-color: #6c63ff;
    --input-text-color: #6c63ff;
    --check-color: rgba(0, 0, 0, 0.5);
  }

  &.dark {
    --background-color: #252525;
    --text-color: #f7f7f7;
    --border-color: #f7f7f7;
    --icon-color: #f7f7f7;
    --input-text-color: #f7f7f7;
    --check-color: rgba(255, 255, 255, 0.5);
  }

  background-color: var(--background-color);
  color: var(--text-color);
}
